* {
  margin: 0;
}

header {
  display: flex;
  place-content: center;
}
.border {
  border: 1px solid black;
}
#section,
h2 {
  padding: 0% 4%;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

p {
  max-width: 60ch;
}

footer {
  display: flex;
  place-content: center;
}
